@page
@model RazorPagesMessageWall.Pages.MessageWallModel
@{
    ViewData["Title"] = "MessageWall";
}

<h1>MessageWall</h1>

<form method="post">
    <div class="form-group">
        @for (int i = 0; i < Model.Messages.Count; i++)
        {
            <input type="hidden" asp-for="Messages[i]"/>
        }
        
        <input asp-for="Message" type="text" placeholder="Type your message..."/>
        <button type="submit" class="btn-primary">Submit</button>
    </div>
</form>

<h2>Messages:</h2>
@foreach (var i in Model.Messages)
{
    <h3>@i</h3>
}